@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .txt {
    @apply text-mainDark dark:text-mainWhite;
  }
}

.swiper-pagination-bullet {
  @apply !bg-mainDark dark:!bg-mainWhite;
}

html {
  scroll-snap-type: y mandatory;
}

.cont {
  scroll-snap-align: start;
  scroll-padding-top: 20px;
}

footer {
  scroll-snap-align: end;
}

@media (max-width: 850px) {
  html {
    scroll-snap-type: none;
  }
}
